@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

body {
  font-family: "Fredericka the Great", cursive;
  background-color: #fff5eb;
  text-align: center;
  font-size: 50pt;
  display: inline;
  padding: 5%;
}

#greeting {
  color: #7f7a75;
  font-size: 70pt;
}
